<!-- <p-calendar (onSelect)="selectYear($event)" firstDayOfWeek="1" view="year" dateFormat="Year yy" [(ngModel)]="date"> </p-calendar> -->
<p-calendar
  (onSelect)="selectYearMonth($event)"
  [(ngModel)]="date"
  view="month"
  dateFormat="'Month' mm"
  [readonlyInput]="true"
></p-calendar>
<p-dropdown
  [options]="monthBalance.weekOfMonth"
  [(ngModel)]="week"
  (onChange)="selectWeek($event)"
>
  <ng-template pTemplate="selectedItem">Week {{ week }}</ng-template>
  <ng-template let-week pTemplate="item">Week {{ week }} </ng-template>
</p-dropdown>
<!-- <p-inputNumber [(ngModel)]="weekOfYear" [showButtons]="true" prefix="Week " [showClear]="true" (onInput)="selectWeek($event)" [useGrouping]="false" [min]="1" [max]="53"> </p-inputNumber> -->

<div class="grid gap-4 m-1">
  <div class="col-9">
    <p-table
      [value]="weekSpend.daySpends"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Date</th>
          <th>Spending</th>
          <th>Cash</th>
          <th>Digital</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-daySpend>
        <tr>
          <td (click)="addTransaction(daySpend)">
            {{ daySpend.date | date:'dd/MM/yyyy' }}
            <spand class="pi pi-plus-circle" style="font-size: 0, 5rem"></spand>
          </td>
          <td>
            <div
              *ngFor="let t of daySpend.transactions"
              (click)="editTransaction(t)"
            >
              {{t.date | date : 'HH:mm'}}
              <b>{{ t.name }}</b> -
              <b>{{ t.amount }} </b>
              <span *ngIf="t.method === 'CASH'">
                <i class="pi pi-wallet" style="color: green"></i>
              </span>
              <span *ngIf="t.method === 'DIGITAL'">
                <i class="pi pi-credit-card" style="color: blue"></i>
              </span>
            </div>
          </td>
          <td>{{ daySpend.cashSpend }}</td>
          <td>{{ daySpend.digitalSpend }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="col">
    <div class="shadow-2 surface-card p-3 border-round">
      <h3 class="m-0">Week Spending Summary</h3>
      <p>Total Cash: {{ weekSpend.cashSpend }}</p>
      <p>Total Digital: {{ weekSpend.digitalSpend }}</p>
      <p>Total Spending: {{ weekSpend.cashSpend + weekSpend.digitalSpend }}</p>
      <p>Total Transactions: {{ totalTransactions }}</p>
    </div>

    <div class="shadow-2 surface-card p-3 border-round">
      <h3 class="m-0">Month Spending Summary</h3>
      <p>Cash Spending: {{ monthBalance.monthSpend?.cashSpend }}</p>
      <p>Digital Spending: {{ monthBalance.monthSpend?.digitalSpend }}</p>
      <p>
        Total Spending: {{ (monthBalance.monthSpend?.digitalSpend ?? 0) +
        (monthBalance.monthSpend?.cashSpend ?? 0) }}
      </p>
    </div>
  </div>
</div>
<div
  class="shadow-2 surface-card p-3 border-round"
  (click)="editMonthBalance()"
>
  <h3 class="m-0">Month Balance</h3>
  <p>
    Cash Balance: {{ monthBalance.cashBalance }} -- {{monthBalance.currentCash}}
  </p>
  <p>
    Digital Balance: {{ monthBalance.digitalBalance }} --
    {{monthBalance.currentDigital}}
  </p>
  <p>Budget: {{ monthBalance.monthBudget?.budget }}</p>
  <p>Increase: {{ monthBalance.monthBudget?.extraIncrease }}</p>
</div>

<p-dialog
  [(visible)]="transactionDialogVisible"
  [style]="{width: '50vw'} "
  [modal]="true"
  [dismissableMask]="true"
>
  <ng-template pTemplate="header">
    Transaction in {{ editedTransaction.date | date: 'dd/MM/yyyy' }}
  </ng-template>

  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="p-fluid">
    <div class="field">
      <label for="date">Date</label>
      <p-calendar
        id="date"
        formControlName="date"
        [showTime]="true"
        appendTo="body"
      ></p-calendar>
      <small
        *ngIf="transactionForm.controls['name'].invalid && transactionForm.controls['name'].touched"
        class="p-error"
      >
        Date is required
      </small>
    </div>

    <!-- Name -->
    <div class="field">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText formControlName="name" />
      <small
        *ngIf="transactionForm.controls['name'].invalid && transactionForm.controls['name'].touched"
        class="p-error"
      >
        Name is required
      </small>
    </div>

    <!-- Amount -->
    <div class="field">
      <label for="amount">Amount</label>
      <p-inputNumber
        inputId="amount"
        formControlName="amount"
        mode="decimal"
        placeholder="0.00"
      >
      </p-inputNumber>
      <small
        *ngIf="transactionForm.controls['amount'].invalid && transactionForm.controls['amount'].touched"
        class="p-error"
      >
        Amount is required
      </small>
    </div>

    <!-- Type -->
    <div class="field">
      <label for="type">Type</label>
      <p-dropdown
        id="type"
        [options]="[
          'OUTGOING_INCLUDED',
        'OUTGOING_EXCLUDED',
        'OUTGOING_PENDING',
        'INCOMING_INCLUDED',
        'INCOMING_EXCLUDED',
        'INCOMING_PENDING'
        ]"
        formControlName="type"
        placeholder="Select Type"
        appendTo="body"
      >
      </p-dropdown>
      <small
        *ngIf="transactionForm.controls['type'].invalid && transactionForm.controls['type'].touched"
        class="p-error"
      >
        Type is required
      </small>
    </div>

    <!-- Method -->
    <div class="field">
      <label for="method">Method</label>
      <p-dropdown
        id="method"
        [options]="['CASH', 'DIGITAL']"
        formControlName="method"
        placeholder="Select Method"
        appendTo="body"
      >
      </p-dropdown>
      <small
        *ngIf="transactionForm.controls['method'].invalid && transactionForm.controls['method'].touched"
        class="p-error"
      >
        Method is required
      </small>
    </div>

    <!-- Submit -->
    <button
      pButton
      type="submit"
      label="Save"
      [disabled]="transactionForm.invalid"
    ></button>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="monthBalanceDialogVisible"
  [style]="{width: '50vw'} "
  [modal]="true"
  [dismissableMask]="true"
>
  <ng-template pTemplate="header">
    Month blance {{this.month}}\{{this.year}}
  </ng-template>

  <form
    [formGroup]="monhtBalanceForm"
    (ngSubmit)="onSubmitBalance()"
    class="p-fluid"
  >
    <div class="field">
      <label for="cashBalance">Cash Balance</label>
      <p-inputNumber
        inputId="cashBalance"
        formControlName="cashBalance"
        mode="decimal"
        placeholder="0.00"
      >
      </p-inputNumber>
      <small
        *ngIf="monhtBalanceForm.controls['cashBalance'].invalid && monhtBalanceForm.controls['cashBalance'].touched"
        class="p-error"
      >
        Field is required
      </small>
    </div>

    <div class="field">
      <label for="digitalBalance">Digital Balance</label>
      <p-inputNumber
        inputId="digitalBalance"
        formControlName="digitalBalance"
        mode="decimal"
        placeholder="0.00"
      >
      </p-inputNumber>
      <small
        *ngIf="monhtBalanceForm.controls['digitalBalance'].invalid && monhtBalanceForm.controls['digitalBalance'].touched"
        class="p-error"
      >
        Field is required
      </small>
    </div>

    <div class="field">
      <label for="budget">Budget</label>
      <p-inputNumber
        inputId="budget"
        formControlName="budget"
        mode="decimal"
        placeholder="0.00"
      >
      </p-inputNumber>
      <small
        *ngIf="monhtBalanceForm.controls['budget'].invalid && monhtBalanceForm.controls['budget'].touched"
        class="p-error"
      >
        Field is required
      </small>
    </div>

    <div class="field">
      <label for="extraIncrease">Extra Increase</label>
      <p-inputNumber
        inputId="extraIncrease"
        formControlName="extraIncrease"
        mode="decimal"
        placeholder="0.00"
      >
      </p-inputNumber>
    </div>

    <div class="increaseReason">
      <label for="increaseReason">Increase Reason</label>
      <input
        id="name"
        type="text"
        pInputText
        formControlName="increaseReason"
      />
    </div>

    <button
      pButton
      type="submit"
      label="Save"
      [disabled]="monhtBalanceForm.invalid"
    ></button>
  </form>
</p-dialog>
